extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    a( href="/custos" target="_blank")
      button(type="button") custos
    pre
    a( href="/renda" target="_blank")
      button(type="button") renda
    br
    pre
    a(href="/darf" target="_blank")
      button(type="button") darf
    pre
    a(href="/fgts" target = "_blank")
      button(type = "button") fgts  
    pre
    a(href="/finan" target="_blank")
      button(type="button") finan
    pre
    a(href="/option" target = "_blank")
      button(type="button") Opções
    pre
    a(href="/juros" target = "_blank")
      button(type="button") juros
  pre
      a(href="/cambio" target = "_blank")
        button(type="button") Câmbio

