extends layout

block content
  h1= title
  p Welcome to #{title}
  div
    a(href="/darf") 
    a(href="/custos")
    a(href="/renda")
    a(href="/fgts")
    a( href="https://www.google.com" target="_blank")
      button(type="button") Google
    a(href="/darf" target="_blank")
      button(type="button") darf
    a(href="/fgts" target = "_blank")
      button(type = "button") fgts  