<!DOCTYPE html>
<html lang="pt-br">
<head>
<meta charset="UTF-8">
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<title>Calculadora de Investimentos Online</title>
<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/css/bootstrap.min.css">
</head>
<body>
<div class="container mt-5">
  <h1 class="text-center">Calculadora de Renda Fixa Online</h1>
  <div class="card mt-3">
    <div class="card-body">
      <form>
        <div class="form-group">
          <label for="initial-investment">Investimento inicial</label>
          <input type="text" id="initial-investment" placeholder="R$ 0,00" class="form-control currency">
        </div>

        <div class="form-group">
          <label for="duration">Prazo</label>
          <div class="input-group">
            <input type="number" id="duration" placeholder="0" class="form-control">
            <div class="input-group-append">
              <select id="duration-unit" class="form-control">
                <option>Anos</option>
                <option>Meses</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group">
          <label for="monthly-investment">Investimento mensal</label>
          <input type="text" id="monthly-investment" placeholder="R$ 0,00" class="form-control currency">
        </div>

        <div class="form-group">
          <label for="profitability">Rentabilidade</label>
          <div class="input-group">
            <input type="text" id="profitability" placeholder="0,00 %" class="form-control">
            <div class="input-group-append">
              <select id="profitability-period" class="form-control">
                <option>Anual</option>
                <option>Mensal</option>
              </select>
            </div>
          </div>
        </div>

        <div class="form-group text-center">
          <button type="submit" class="btn btn-primary calculate">CALCULAR</button>
          <button type="reset" class="btn btn-secondary">LIMPAR</button>
        </div>
      </form>
    </div>
  </div>
</div>

<!-- Modal -->
<div class="modal fade" id="modal" tabindex="-1" aria-labelledby="resultModalLabel" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="resultModalLabel">Resultados</h5>
        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
          <span aria-hidden="true">&times;</span>
        </button>
      </div>
      <div class="modal-body">
        <div class="results-container">
          <div class="primary-info">
            <p id="valorBruto" class="valor-bruto">Valor Bruto: R$0,25</p>
            <p id="impostos" class="valor-impostos">Impostos: R$0,64</p>
            <p id="valorLiquido" class="valor-liquido">Valor Líquido: R$0,05</p>
          </div>
          <div class="additional-info">
            <p id="valorTotalInvestido" class="valor-total-investido">Valor Total Investido: R$0,00</p>
            <p id="valorEmJuros" class="valor-em-juros">Valor em Juros: R$0,00</p>
            <p id="taxaImposto" class="taxa-imposto">Taxa de Imposto: 15%</p>
          </div>
        </div>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-secondary close-btn" data-dismiss="modal">Fechar</button>
      </div>
    </div>
  </div>
</div>

<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/@popperjs/core@2.9.2/dist/umd/popper.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.5.2/js/bootstrap.min.js"></script>
<script src="/javascripts/renda.js"></script>
</body>
</html>