name: Aula de Integração continua

on: push

jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
      - uses: actions/checkout@v3

      - name:  Mostra texto
        run: echo AUla Ok

      - name: Sincronia com o Glitch
        uses: kanadgupta/glitch-sync@v3.0.1
        with:
          auth-token: '${{ secrets.authToken }}'
          project-id: '${{ secrets.projectId }}'
        
      
    
