name: Deploy manual sem teste
on: [workflow_dispatch]
jobs:
  deploy-Manual:
    runs-on: ubuntu-latest
    steps:
      - name: Get Code from repository
        uses: actions/checkout@v3
    
      - name: Sincronia com o Glitch
        uses: kanadgupta/glitch-sync@v3.0.1
        with:
            auth-token: '${{ secrets.authToken }}'
            project-id: '${{ secrets.projectId }}'



